<div layout="row" layout-align="space-around start" layout-wrap>

    <!-- Download -->
    <md-card class="feature-tile">

        <img src="img/deer.jpg" class="md-card-image" alt="Download">

        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">D for Download</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <p>Download movies in 3D, 1080p and 720p. Any torrent client works.</p>
        </md-card-content>

    </md-card>

    <!-- Watch -->
    <md-card class="feature-tile">

        <img src="img/walrus.jpg" class="md-card-image" alt="Watch">

        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">W for Watch</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <p>Got <a href="http://project-maelstrom.bittorrent.com/" target="_blank">Maelstrom</a> or <a href="https://github.com/mafintosh/peerflix" target="_blank">Peerflix</a>? Watch movies without downloading.</p>
        </md-card-content>

    </md-card>

    <!-- Trust -->
    <md-card class="feature-tile">

        <img src="img/tiger.jpg" class="md-card-image" alt="Trust">

        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">T for Trust</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <p>Clean downloads. No obtrusive ads. No malware. Promise.</p>
        </md-card-content>

    </md-card>

    <!-- Zipped -->
    <md-card class="feature-tile">

        <img src="img/zebra.jpg" class="md-card-image" alt="Zipped">

        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Z for Zipped</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <p>Crisp rips with the smallest file sizes. Every time.</p>
        </md-card-content>

    </md-card>

    <!-- Statistics -->
    <md-card class="feature-tile">

        <img src="img/sheep.jpg" class="md-card-image" alt="Statistics">

        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">S for Statistics</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <p>You learn about movies and we learn about you. And so do you.</p>
        </md-card-content>

    </md-card>

    <!-- Community -->
    <md-card class="feature-tile">

        <img src="img/cow.jpg" class="md-card-image" alt="Community">

        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">C for Community</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <p>Express yourself with comments, likes, ratings, reactions and reviews.</p>
        </md-card-content>

    </md-card>

    <!-- Franchises -->
    <md-card class="feature-tile">

        <img src="img/fox.jpg" class="md-card-image" alt="Franchises">

        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">F for Franchises</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <p>Want to catch up with a franchise? No problem!</p>
        </md-card-content>

    </md-card>

    <!-- Personal -->
    <md-card class="feature-tile">

        <img src="img/pig.jpg" class="md-card-image" alt="Personal">

        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">P for Personal</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <p>Maintain your own Watch Later and Watched lists.</p>
        </md-card-content>

    </md-card>

    <!-- Everything -->
    <md-card class="feature-tile">

        <img src="img/elephant.jpg" class="md-card-image" alt="Everything">

        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">E for Everything</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <p>Animated to Horror. War to Musical. Everything.</p>
        </md-card-content>

    </md-card>

</div>