<div layout="row" layout-align="space-around start" layout-wrap>

    <!-- Download -->
    <md-card class="feature-tile">

        <img src="img/download.png" class="md-card-image" alt="Download">

        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Download</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <p>Download movies in 3D, 1080p and 720p. Any torrent client works.</p>
        </md-card-content>

    </md-card>

    <!-- Watch -->
    <md-card class="feature-tile">

        <img src="img/watch.png" class="md-card-image" alt="Watch">

        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Watch</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <p>Got <a href="http://project-maelstrom.bittorrent.com/" target="_blank">Maelstrom</a> or <a href="https://github.com/mafintosh/peerflix" target="_blank">Peerflix</a>? Watch movies without downloading.</p>
        </md-card-content>

    </md-card>

    <!-- Trustworthy -->
    <md-card class="feature-tile">

        <img src="img/trustworthy.png" class="md-card-image" alt="Trustworthy">

        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Trustworthy</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <p>Clean downloads. No obtrusive ads. No malware. Promise.</p>
        </md-card-content>

    </md-card>

    <!-- Zipped -->
    <md-card class="feature-tile">

        <img src="img/zipped.png" class="md-card-image" alt="Zipped">

        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Zipped</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <p>Crisp rips with the smallest file sizes. Every time.</p>
        </md-card-content>

    </md-card>

    <!-- Statistics -->
    <md-card class="feature-tile">

        <img src="img/statistics.png" class="md-card-image" alt="Statistics">

        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Statistics</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <p>You learn about movies and we learn about you. And so do you.</p>
        </md-card-content>

    </md-card>

    <!-- Expressive -->
    <md-card class="feature-tile">

        <img src="img/expressive.png" class="md-card-image" alt="Expressive">

        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Expressive</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <p>Express with comments, likes, ratings, reactions & reviews.</p>
        </md-card-content>

    </md-card>

    <!-- Franchises -->
    <md-card class="feature-tile">

        <img src="img/franchises.png" class="md-card-image" alt="Franchises">

        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Franchises</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <p>Effortlessly catch up with franchises.</p>
        </md-card-content>

    </md-card>

    <!-- Personalized -->
    <md-card class="feature-tile">

        <img src="img/personalized.png" class="md-card-image" alt="Personalized">

        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Personalized</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <p>Maintain your own Watch Later and Watched lists.</p>
        </md-card-content>

    </md-card>

    <!-- Variety -->
    <md-card class="feature-tile">

        <img src="img/variety.png" class="md-card-image" alt="Variety">

        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Variety</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <p>Animated to Horror. War to Musical. History to Sci-Fi.</p>
        </md-card-content>

    </md-card>
    
    <!-- Active -->
    <md-card class="feature-tile">

        <img src="img/active.png" class="md-card-image" alt="Active">

        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Active</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <p>Actively developed and maintained.</p>
        </md-card-content>

    </md-card>

</div>