<div layout="column">
    <md-toolbar style="background-color: white;">
        <div class="md-toolbar-tools">
            <md-button style="color: black;" ng-click="$root.changeState('movies')" aria-label="Browse Movies">
                <md-icon md-svg-src="img/ic_chevron_left_black_24px.svg"></md-icon>&nbsp;<span>Movies&nbsp;&nbsp;</span>
            </md-button>
            <span style="color: black;">Filters</span>
            <span flex></span>
            <md-button class="md-raised md-primary" ng-click="clearFilters()" aria-label="Clear Filters">
                <md-icon md-svg-src="img/ic_close_white_24px.svg"></md-icon>&nbsp;<span>Clear&nbsp;&nbsp;</span>
            </md-button>
            <md-button class="md-raised md-primary" ng-click="saveFilters()" aria-label="Save Filters">
                <md-icon md-svg-src="img/ic_check_white_24px.svg"></md-icon>&nbsp;<span>Save&nbsp;&nbsp;</span>
            </md-button>
        </div>
    </md-toolbar>
</div>

<div layout="row" layout-align="center center">

    <div flex="75" style="margin-top: 10px;">
        <!-- Genre -->
        <md-card flex>
            <md-card-header>
                <md-icon md-svg-src="img/ic_local_movies_black_24px.svg"></md-icon>
                <span flex class="md-title">&nbsp;Genre: <span class="capitalize">{{filters.genre}}</span></span>
            </md-card-header>
            <md-card-content>
                <md-radio-group ng-model="filters.genre">
                    <md-radio-button value="all" class="md-primary">All</md-radio-button>
                    <hr>
                    <section layout="row" layout-wrap layout-align="space-around center">
                        <md-radio-button flex="20" ng-repeat="genre in genres" value="{{genre.value}}">{{genre.name}}</md-radio-button>
                    </section>
                </md-radio-group>
            </md-card-content>
        </md-card>

        <div layout="row" flex>

            <!-- Minimum IMDb Rating -->
            <md-card flex="50">
                <md-card-header>
                    <img class="png-icon" src="img/imdb.png">
                    <span class="md-title">&nbsp;Minimum IMDb Rating: {{filters.minimum_rating}}</span>
                </md-card-header>
                <md-card-content>
                    <md-slider flex step="1" md-discrete min="0" max="9" ng-model="filters.minimum_rating" aria-label="Minimum IMDb Rating"></md-slider>
                </md-card-content>
            </md-card>

            <!-- Video Quality -->
            <md-card flex="50">
                <md-card-header>
                    <md-icon md-svg-src="img/ic_high_quality_black_24px.svg"></md-icon>
                    <span flex class="md-title">&nbsp;Video Quality: <span class="capitalize">{{filters.quality}}</span></span>
                </md-card-header>
                <md-card-content>
                    <md-radio-group ng-model="filters.quality">
                        <md-radio-button value="all" class="md-primary">All</md-radio-button>
                        <hr>
                        <section layout="row" layout-wrap layout-align="space-between center">
                            <md-radio-button flex="20" ng-repeat="quality in videoQualities" value="{{quality.value}}">{{quality.name}}</md-radio-button>
                        </section>
                    </md-radio-group>
                </md-card-content>
            </md-card>

        </div>

        <div layout="row" flex>

            <md-card flex style="margin-bottom: 20px;">
                <md-card-header>
                    <md-icon md-svg-src="img/ic_sort_black_24px.svg"></md-icon>
                    <span flex class="md-title">&nbsp;Sort</span>
                </md-card-header>
                <md-card-content>
                    <md-radio-group ng-model="filters.sort_by">
                        <section layout="row" layout-wrap layout-align="space-between center">
                            <md-radio-button flex="20" ng-repeat="sorter in sorters" value="{{sorter.value}}">{{sorter.name}}</md-radio-button>
                        </section>
                    </md-radio-group>
                    <hr>
                    <md-radio-group ng-model="filters.order_by">
                        <section layout="row" layout-wrap layout-align="space-between center">
                            <md-radio-button flex="50" ng-repeat="order in orders" value="{{order.value}}">{{order.name}}</md-radio-button>
                        </section>
                    </md-radio-group>
                </md-card-content>
            </md-card>

        </div>

    </div>

</div>