h1 {
  margin: 0; }

.blink {
  animation: blink 1s linear infinite; }

.capitalize {
  text-transform: capitalize; }

.last-element {
  margin: 25px 0 !important; }

.no-margin {
  margin: 0 !important; }

.png-icon {
  border-radius: 2px;
  display: inline-block;
  height: 24px;
  margin-right: 2px;
  vertical-align: middle;
  width: 24px; }

.sidenav-icon {
  height: 20px;
  margin-right: 10px; }

.small-button {
  min-width: 30%; }

.translucent-card {
  background-color: rgba(255, 255, 255, 0.6); }

@keyframes blink {
  50% {
    opacity: 0; } }

.hero {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 250px 0;
  text-align: center; }

.hero h1 {
  color: white;
  font-size: 70px;
  margin-top: 0;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5); }

.hero .md-button {
  font-size: 18px;
  padding: 6px 18px; }

.feature-tile {
  height: 220px;
  width: 250px; }

.feature-tile img {
  height: 100px;
  margin: 15px auto 15px;
  width: 100px; }

.feature-tile md-card-title {
  padding: 0 16px;
  text-align: center; }

.feature-tile md-card-content p {
  font-size: 14px; }

.actor-card {
  cursor: pointer;
  width: 300px; }

.image-bg-container {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.md-chips {
  box-shadow: none !important; }

.movie-card {
  width: 250px; }

.movie-card .md-card-image {
  height: 375px; }

.label-img {
  margin-right: 5px;
  vertical-align: middle; }

.mini-movie-card {
  width: 115px; }

.mini-movie-card md-card-content {
  color: #757575;
  font-size: 12px;
  padding: 7.5px; }
