/* Global Styles */

.capitalize {
    text-transform: capitalize;
}

.last-element {
    margin: 25px 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.png-icon {
    border-radius: 2px;
    display: inline-block;
    height: 24px;
    margin-right: 2px;
    vertical-align: middle;
    width: 24px;
}

.sidenav-icon {
    height: 20px;
    margin-right: 10px;
}

.small-button {
    min-width: 30%;
}

.translucent-card {
    background-color: rgba(255, 255, 255, 0.6);
}

/* Home */

.hero {
    background-image: url('https://unsplash.it/1200/500?image=902');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 7.5px;
    padding: 150px 30;
    text-align: center;
}

.hero h1 {
    color: white;
    font-size: 70px;
    font-weight: 300;
    margin-top: 0;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.hero .md-button {
    font-size: 18px;
    padding: 6px 18px;
}

.home-tile {
    height: 290px;
    padding-top: 15px;
    width: 290px;
}

.home-tile md-card-title {
    padding-bottom: 10px;
}

/* Movie - Browse */

.movie-card {
    width: 250px;
}

.movie-card .md-card-image {
    height: 375px;
}

/* Movie - Detail */

.actor-card {
    cursor: pointer;
    width: 300px;
}

.image-bg-container {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.md-chips {
    box-shadow: none !important;
}