.actor-card {
  cursor: pointer;
  width: 300px;
}

.image-bg-container {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.md-chips {
  box-shadow: none !important;
}