<md-list flex>

    <md-subheader class="md-no-sticky">Movies</md-subheader>

    <!-- All Movies -->
    <md-list-item ng-click="$root.changeState('movies')">
        <img ng-src="img/ic_dashboard_black_24px.svg" class="sidenav-icon" alt="Browse" />
        <div class="md-list-item-text">
            <span>Browse</span>
        </div>
    </md-list-item>

    <!-- Filters -->
    <md-list-item ng-click="$root.changeState('filters')">
        <img ng-src="img/ic_filter_list_black_24px.svg" class="sidenav-icon" alt="Filters" />
        <div class="md-list-item-text">
            <span>Filters</span>
        </div>
    </md-list-item>

    <md-divider ></md-divider>

    <md-subheader class="md-no-sticky">Your Activity</md-subheader>

    <md-list-item ng-click="null">
        <img ng-src="img/ic_favorite_black_24px.svg" class="sidenav-icon" alt="Liked" />
        <div class="md-list-item-text">
            <span>Liked</span>
        </div>
    </md-list-item>

    <md-list-item ng-click="null">
        <img ng-src="img/ic_watch_later_black_24px.svg" class="sidenav-icon" alt="Watch Later" />
        <div class="md-list-item-text">
            <span>Watch Later</span>
        </div>
    </md-list-item>

    <md-list-item ng-click="null">
        <img ng-src="img/ic_visibility_black_24px.svg" class="sidenav-icon" alt="Watched" />
        <div class="md-list-item-text">
            <span>Watched</span>
        </div>
    </md-list-item>

    <md-divider ></md-divider>

    <md-subheader class="md-no-sticky">200mins</md-subheader>

    <md-list-item ng-click="null">
        <img ng-src="img/ic_bug_report_black_24px.svg" class="sidenav-icon" alt="Report a Problem" />
        <div class="md-list-item-text">
            <span>Report a Problem</span>
        </div>
    </md-list-item>

    <md-list-item ng-click="null">
        <img ng-src="img/ic_lightbulb_outline_black_24px.svg" class="sidenav-icon" alt="Suggest a Feature" />
        <div class="md-list-item-text">
            <span>Suggest a Feature</span>
        </div>
    </md-list-item>

    <md-list-item ng-click="null">
        <img ng-src="img/ic_fingerprint_black_24px.svg" class="sidenav-icon" alt="Privacy & Terms of Use" />
        <div class="md-list-item-text">
            <span>Privacy & Terms of Use</span>
        </div>
    </md-list-item>

    <md-list-item ng-click="null">
        <img ng-src="img/ic_account_balance_black_24px.svg" class="sidenav-icon" alt="DMCA & Legal" />
        <div class="md-list-item-text">
            <span>DMCA & Legal</span>
        </div>
    </md-list-item>

    <md-list-item ng-click="null">
        <img ng-src="img/ic_pets_black_24px.svg" class="sidenav-icon" alt="Credits" />
        <div class="md-list-item-text">
            <span>Credits</span>
        </div>
    </md-list-item>

</md-list>