<!-- Page -->
<div layout="row">

    <!-- User Card -->
    <div flex="20">
        <md-card>
            <img ng-src="{{$root.user.avatar}}">
            <md-card-content>
                <h1>{{$root.user.username}}</h1>
            </md-card-content>
        </md-card>
    </div>

    <!-- Activity Tabs and Content -->
    <div flex="80">
        <md-card>
            <md-card-content>

                <!-- Activity Tabs -->
                <md-tabs md-stretch-tabs="always" md-border-bottom md-selected="activeTab" md-no-select-click>
                    <md-tab ng-repeat="tab in tabs" ng-click="changeTab($index)">
                        <md-tab-label>
                            <img class="label-img" ng-src="{{tab.icon}}" alt="{{tab.label}}">
                            <span>{{tab.label}}</span>
                        </md-tab-label>
                    </md-tab>
                </md-tabs>

                <!-- Content -->
                <div ui-view></div>

            </md-card-content>
        </md-card>
    </div>

</div>