<div layout="column">
    <md-toolbar style="background-color: white;">
        <div class="md-toolbar-tools">
            <span style="color: black;" ng-show="!!numMovies">Browsing {{::numMovies}} movies</span>
            <span flex></span>
            <md-button class="md-raised md-primary" ng-click="$root.changeState('movie.filter')">
                <md-icon md-svg-src="img/ic_filter_list_white_24px.svg"></md-icon>&nbsp;<span>Filters: <span ng-hide="filters === null">ON</span><span ng-hide="filters !== null">OFF</span>&nbsp;</span>
            </md-button>
        </div>
    </md-toolbar>
</div>

<div layout="row" layout-wrap layout-align="space-around start" style="padding-top: 10px;">

    <md-card class="movie-card" ng-repeat="movie in movies">

        <!-- Poster -->
        <img ng-src="{{movie.medium_cover_image}}" class="md-card-image" alt="{{movie.title}}">

        <!-- Actions -->
        <md-card-actions layout="row">

            <section ng-show="selectedMovie.id !== movie.id" layout="row" layout-align="space-between center" flex>
                <md-button class="md-icon-button no-margin" aria-label="Download" ng-click="selectMovie(movie.id)">
                    <md-icon md-svg-src="img/ic_cloud_download_black_24px.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button no-margin" aria-label="Open" ng-click="$root.changeState('movie.detail', movie.slug)">
                    <md-icon md-svg-src="img/ic_theaters_black_24px.svg"></md-icon>
                </md-button>
                <md-button ng-href="http://www.imdb.com/title/{{movie.imdb_code}}" target="_blank" class="small-button no-margin" aria-label="IMDb Rating">
                    <img class="png-icon" src="img/imdb.png">&nbsp;<span>{{movie.rating}}</span>
                </md-button>
                <md-button ng-disabled="true" style="color: black !important;" class="small-button no-margin" aria-label="Year">
                    <md-icon md-svg-src="img/ic_date_range_black_24px.svg"></md-icon>&nbsp;<span>{{movie.year}}</span>
                </md-button>
            </section>

            <section ng-show="selectedMovie.id === movie.id" layout="row" flex>

                <section>
                    <md-button class="md-icon-button no-margin" aria-label="Close" ng-click="resetSelectedMovie()">
                        <md-icon md-svg-src="img/ic_close_black_24px.svg"></md-icon>
                    </md-button>
                </section>

                <section flex layout="row" layout-align="end center">
                    <md-button ng-href="{{torrent.url}}" ng-repeat="torrent in movie.torrents" class="md-primary small-button">
                        <span>{{torrent.quality}}</span>
                    </md-button>
                </section>

            </section>

        </md-card-actions>

    </md-card>

</div>

<div layout="row" layout-align="space-around" ng-show="!isNascent && !isEOC" class="last-element">

    <md-button aria-label="Load More" class="md-primary md-raised" ng-click="getMovies()">
        <span>&nbsp;Load More&nbsp;</span>
    </md-button>

</div>

<div layout="row" layout-align="space-around" ng-show="isNascent" class="last-element">

    <md-progress-circular md-mode="indeterminate"></md-progress-circular>

</div>