<div layout="column">
    <md-toolbar style="background-color: white;">
        <div class="md-toolbar-tools">

            <md-button style="color: black;" ng-click="$root.changeState('movies')" aria-label="Browse Movies">
                <md-icon md-svg-src="img/ic_chevron_left_black_24px.svg"></md-icon>&nbsp;<span>Movies&nbsp;&nbsp;</span>
            </md-button>

            <span style="color: black;">{{movie.title}} ({{movie.year}})</span>

            <span flex></span>

            <section ng-hide="$root.nascent">
                <md-button ng-click="markWatch(movie.imdb_code, 'true', $event)" aria-label="Mark Watch" class="md-icon-button" ng-show="!movieStatus.isWatchLater">
                    <md-icon md-svg-src="img/ic_update_black_24px.svg"></md-icon></span>
                </md-button>
                <md-button ng-click="markWatch(movie.imdb_code, 'false', $event)" aria-label="Unmark Watch" class="md-icon-button" ng-show="movieStatus.isWatchLater">
                    <md-icon md-svg-src="img/ic_watch_later_black_24px.svg"></md-icon></span>
                </md-button>

                <md-button ng-click="markWatched(movie.imdb_code, 'true', $event)" aria-label="Mark Watched" class="md-icon-button" ng-show="!movieStatus.isWatched">
                    <md-icon md-svg-src="img/ic_visibility_off_black_24px.svg"></md-icon></span>
                </md-button>
                <md-button ng-click="markWatched(movie.imdb_code, 'false', $event)" aria-label="Unmark Watched" class="md-icon-button" ng-show="movieStatus.isWatched">
                    <md-icon md-svg-src="img/ic_visibility_black_24px.svg"></md-icon></span>
                </md-button>

                <md-button ng-click="like(movie.imdb_code, 'true', $event)" aria-label="Like" class="md-icon-button" ng-show="!movieStatus.isLike">
                    <md-icon md-svg-src="img/ic_favorite_border_black_24px.svg"></md-icon></span>
                </md-button>
                <md-button ng-click="like(movie.imdb_code, 'false', $event)" aria-label="Unlike" class="md-icon-button" ng-show="movieStatus.isLike">
                    <md-icon md-svg-src="img/ic_favorite_black_24px.svg"></md-icon></span>
                </md-button>
            </section>

        </div>
    </md-toolbar>
</div>

<div style="background-image: url('{{movie.background_image}}');" layout-fill class="image-bg-container">

    <div layout="row">

        <div flex="25">

            <md-card class="translucent-card" style="padding: 7.5px;">
                <img ng-src="{{movie.medium_cover_image}}">
            </md-card>

            <md-card class="translucent-card">
                <md-card-content>
                    <md-chips ng-model="movie.genres" readonly="true">
                        <md-chip-template style="box-shadow: none;">
                            <strong>{{$chip}}</strong>
                        </md-chip-template>
                    </md-chips>
                </md-card-content>
            </md-card>

        </div>

        <div flex="75">

            <md-card class="translucent-card">
                <md-card-header>
                    <md-card-header-text>
                        <span class="md-title">Synopsis</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                    <p style="letter-spacing: 0.1; line-height: 1.3;">{{movie.description_full}}</p>
                </md-card-content>
            </md-card>

            <md-card class="translucent-card">
                <md-card-header>
                    <md-card-header-text>
                        <span class="md-title">Cast</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content layout="row" layout-wrap>

                    <md-card ng-repeat="actor in movie.cast" class="actor-card" ng-click="$root.changeURL('http://www.imdb.com/name/nm' + actor.imdb_code + '/', true)">
                        <md-card-header>
                            <md-card-avatar style="margin-left: 0;">
                                <img class="md-user-avatar" ng-src="{{actor.url_small_image}}">
                            </md-card-avatar>
                            <md-card-header-text>
                                <span class="md-title">{{actor.name}}</span>
                                <span class="md-subhead">as {{actor.character_name}}</span>
                            </md-card-header-text>
                        </md-card-header>
                    </md-card>

                </md-card-content>
            </md-card>

        </div>

    </div>

</div>